<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Welcome from Mini Social Media</title>
  </head>
  <body>
    <h1>Welcome to Mini Social Media, <%= username %>!</h1>
    <p>
      We're excited to have you on board. Start connecting with friends and
      sharing your moments today!
    </p>
  </body>
</html>
